.status {
  font-size: 18px;
}

.status_button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
}

.status_button:hover {
  background-color: #f0f7fc;
}

.icon {
  width: 25px;
}

.tooltip {
  font-size: 16px;
  color: #888888;
}
