.posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}






