.friends {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: flex-start;
}

.friends__title {
    font-weight: bold;
    font-size: 20px;
}

.friends__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}