.photoUpload {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

.iconWrapper {
    padding: 5px;
    background-color: #0085ff;
    display: flex;
    border-radius: 50%;
}

.icon {
    width: 18px;
    color: white;
}

.photo {
    border-radius: 10px;
    width: 130px;
}

.photoWrapper {
    position: relative;
    display: inline-block;
    top: 110px;
    left: -15px;
}