.subscribe__button {
    padding: 10px 30px;
    border-radius: 10px;
}

.follow_color {
    color: white;
    background-color: #0085ff;
}

.follow_color:hover {
    background-color: #036dcf;
}

.unfollow_color {
    color: #ff4763;
    background-color: #ffd3c6;
}

.unfollow_color:hover {
    color: white;
    background-color: #f44c4c;
}