.post {
    display: flex;
    flex-direction: column;
    gap: 10px;

    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.horizontal_line {
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    padding-top: 10px;
}



