.header {
    grid-area: header;

    padding: 0 10px;

    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;

    display: flex;
    align-items: center
}

.header__logo {
    height: 50px;
    width: 50px;
}