.header {
  grid-area: header;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  width: 50px;
}

.login {
  display: block;
  color: inherit;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 3px;
}

.login:hover {
  background-color: #ededed;
}
