.friendMessage__item {
    display: flex;
    gap: 10px;
}

.friendMessage__item__avatar {
    width: 40px;
    height: 40px;
}

.friendMessage__message {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    background-color: #f3f3f3;
    border-radius: 0 10px 10px 10px;
    padding: 5px 25px 10px 10px;
}

.friendMessage__text {
    line-height: 1.4rem;
}

.friendMessage__time {
    color: #888888;
    font-size: 14px;
}