.container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 25px;
    height: 25px;
    background-color: #ff4949;
    font-size: 14px;
    border-radius: 50%;
}