.contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 20%;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

.header {
  font-weight: bold;
  font-size: 18px;
}
